@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Setting Global Variables */

:root {
    /* Font */
    --ft-Inter: 'Inter', sans-serif;
    --fw-bold: 700;
    --fw-norm: 400;
    --fs-vsm: .75rem;
    --fs-sm: .8375rem;
    
    --fs-cdheading: .875rem;
    --fs-norm: .9375rem;
    --fs-big: 1.5rem;
    --fs-bignums: 3.25rem;
    --fs-smallnums: 2rem;
    --fs-att: .75rem;

    /* Primary Colors */
    --lime-gr: hsl(163, 72%, 41%);
    --bright-rd: hsl(356, 69%, 56%);
    --fbook-bl: hsl(208, 92%, 53%);
    --twitter-bl: hsl(203, 89%, 53%);
    --ig-yw: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --yt-rd: hsl(348, 97%, 39%);

    --bradius: .37rem;
    --t-bradius: 1rem;
}

/* Setting Themes*/

body,
body[theme="dark"] {
    --bg: hsl(230, 17%, 14%);
    --top-bgpat: hsl(232, 19%, 15%);
    --cdbg: hsl(228, 28%, 20%);
    --col-hover:hsla(226, 24.3%, 43.5%, 0.6);
    --small-text-color: hsl(228, 34%, 66%);
    --other-text-color: hsl(0, 0%, 100%);
    --switch: linear-gradient(to top right, hsl(210, 78%, 50%) 14%,  hsl(146, 68%, 55%));
    --dot: hsl(228, 28%, 20%);
    --h-border:hsl(228, 12%, 44%);
    --att: hsla(283, 55%, 60%, 0.801);
}
body[theme="light"] {
    --bg: hsl(0, 0%, 100%);
    --top-bgpat: hsl(225, 100%, 98%);
    --cdbg: hsl(227, 47%, 96%);
    --col-hover:hsla(231, 50%, 94.5%);
    --small-text-color: hsl(228, 12%, 44%);
    --other-text-color: hsl(230, 17%, 14%);
    --switch: hsl(230, 22%, 74%);
    --dot: hsl(0, 0%, 100%);
    --h-border:hsl(228, 34%, 66%);
    --att: hsl(228, 45%, 44%);
}


/* Global Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    font-family: var(--ft-Inter);
    font-weight: var(--fw-bold);
    font-size: var(--fs-cdheading);
    transition: all .7s;
}

/* Default/Dark theme styling */
body {
    color: var(--other-text-color);
    font-weight: var(--fw-bold);
    background:  var(--bg);
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-top-bg {
    background: var(--top-bgpat);
    max-width: 100%;
    min-width: 100%;
    height: 210px;
    border-radius: 0 0 var(--t-bradius) var(--t-bradius);
}
.h-grid {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.header {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.2;
}
.header h1,
.header .subtitle {
    margin: 0;
}
.header .subtitle {
    color: var(--small-text-color);
}
.mode {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
.toggler-now {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
#darkmode {
    padding-top:.3rem;
    color: var(--small-text-color);
}
.top-cards {
    margin-top: -6.75rem;
    margin-bottom: 3rem;
}
/* The Grid */
.container {
    padding: 0 1.5rem;
    max-width: 66rem;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(3);
    grid-column-gap: 1.5rem;
    column-gap: 1.75rem;
    row-gap: 1.5rem;
}

.cards,
.cards-summary {
    background: var(--cdbg);
    text-align: center;
    border-radius: var(--bradius);
    padding: 1rem 2rem;
    position: relative;
}
.card-facebook::before {
    content: '';
    height: 4px;
    background: var(--fbook-bl);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: .75rem .75rem 0 0;
}
.card-twitter::before {
    content: '';
    height: 4px;
    background: var(--twitter-bl);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: .75rem .75rem 0 0;
}
.card-instagram::before {
    content: '';
    height: 3px;
    background: var(--ig-yw);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: .75rem .75rem 0 0;
}
.card-ytube::after {
    content: '';
    height: 4px;
    background: var(--yt-rd);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: .75rem .75rem 0 0;
}
.cards:hover,
.cards-summary:hover {
    cursor: pointer;
    background: var(--col-hover);
    transform: translateY(12px);
}
h3 {
    text-align: center;   
}
h3 img {
    vertical-align: middle;
    padding-right: .4rem;
}
.username {
    font-size: var(--fs-cdheading);
    color: var(--small-text-color);
}
.number {
    font-size: var(--fs-bignums);
    margin: 1rem 1rem 0 1rem;
}
.followers {
    font-size: var(--fs-sm);
    font-weight: var(--fw-norm);
    color: var(--small-text-color);
    margin-top: 0;
    margin-bottom: 1.5rem;
    letter-spacing: 3.1px;  
}
.arrow {
    vertical-align: middle;
}
.cards-summary-loss {
    color: var(--bright-rd);
    font-size: var(--fs-vsm);
    margin-bottom: .3rem;
}
.cards-summary-gain {
    color: var(--lime-gr);
    font-size: var(--fs-vsm);
    margin-bottom: .3rem;
}

/* Bottom Grid */
.social-bottom {
    text-align: left;
}
.cards-summary {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.7rem;
}
.top-summary,
.bottom-summary {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-between;
    margin:0;
}
.cards-summary-title {
    color: var(--small-text-color);
    margin: 0;
}
.cards-summary-number {
    margin: 0;
}
.icon {
    width: 21px;
    height: 20px;
}
.cards-summary-number {
    font-size: var(--fs-smallnums);
}
.top-summary {
    margin-top: .75rem;
    margin-bottom: 1rem;   
}
.bottom-summary .cards-summary-gain,
.bottom-summary .cards-summary-loss {
    margin-bottom: 0;
    margin-top: 1.25rem;
}
.attribution { 
    font-size: var(--fs-att); 
    text-align: center; 
    margin-top: 3rem;
}
.attribution a { 
    color: var(--att); 
}

/* 900px */
@media (max-width: 56.25em){

    .h-grid {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .header {
        display: flex;
        flex-direction: column; 
        margin-bottom: 1 auto;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }
    .title {
        line-height: 1.8;
    }
    h1 {
        font-size: 1.75rem;
        padding-bottom:.25rem;
    }
    .subtitle {
        border-bottom: 1px solid var(--small-text-color);
        padding-bottom: 1.5rem;
    }
    .mode {
        justify-content: space-between;
    }
    .top-cards {
        margin-top: -4rem;
    }
}
/* 475px */
@media (max-width: 29.6875em) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        row-gap: 1rem;
    }  
}
/* 330px */
@media (max-width: 26.625em) {
    h1 {
        font-size: 1.25rem;
    }
}

