
/* Creating the toggle switch */
.toggle-label {
    position : relative ;
    display : inline-block;
    cursor: pointer;
    width: 53px;
    height: 23px;
    background: var(--switch); 
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: background-color .2s;
    margin: 0 1rem;
    margin-right: 0;
    padding-top: 1rem;
  }
  .toggle-label::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 3px;
    width: 18px;
    height: 18px;
    border-radius: 45px;
    transition: 0.7s;
    background: var(--dot);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  .checkbox:checked + .toggle-label::after {
    right: calc(100% - 3px);
    transform: translateX(100%); 
  }
  .toggle-label:hover  {
    background: linear-gradient(to top right, hsl(210, 78%, 56%) 2%,  hsl(146, 68%, 55%)); 
  }
  .checkbox {
    display: none;
  }